.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-list {
    @media screen and(max-width:767px) {
      text-align: center;
    }

    @media screen and(min-width:768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
}

.feature {
  &-card:not(:last-child) {
    @media screen and(max-width:767px) {
      margin-bottom: 30px;
    }
  }
  &-card {
    @media screen and(max-width:767px) {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
      margin: 15px;
    }
  }

  &-img-bg {
    background-color: $secondary-background-color;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;

    height: 120px;
  }

  &-header {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    color: $header-text-color;

    margin: 0 0 10px 0;
  }

  &-desription {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: $title-text-color;
  }
}
