.social-networks {
  @media screen and(min-width:768px) and (max-width: 1199px) {
    text-align: center;
    padding-top: 65px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 72px;
    margin-right: 93px;
  }

  &-h {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.14;
    text-transform: uppercase;

    color: $primary-white-color;

    margin-bottom: 20px;
  }
}
