%dFlex-aiCenter {
  display: flex;
  align-items: center;
}

%main-btn {
  min-width: 200px;
  min-height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  background-color: $accent-color;

  border: none;
  border-radius: 4px;
  padding: 10px 32px;

  display: inline-block;

  cursor: pointer;

  box-shadow: 0px 4px 4px $main-btn-box-shadow;
}

%header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: $header-text-color;

  margin-bottom: 50px;
}

%dFlex-m0 {
  display: flex;
  margin: 0;
}

%pTop-pBottom94 {
  padding-top: 94px;
  padding-bottom: 94px;
}
