$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;

$primary-white-color: #ffffff;
$header-text-color: #212121;
$title-text-color: #757575;
$secondary-text-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$primary-background-color: rgba(47, 48, 58, 0.4);
$secondary-background-color: #f5f4fa;
$description-background-color: rgba(33, 150, 243, 0.9);
$border-color: #afb1b8;
$portfolio-border: #eeeeee;
$footer-bgc: #2f303a;
$modal-text-color: rgba(117, 117, 117, 0.5);
$main-btn-box-shadow: rgba(0, 0, 0, 0.15);

$playercard-box-shadow-top: rgba(0, 0, 0, 0.12);
$playercard-box-shadow-leftright: rgba(0, 0, 0, 0.14);
$playercard-box-shadow-bottom: rgba(0, 0, 0, 0.2);

$social-link-footer-bgc: rgba(255, 255, 255, 0.1);
$subscribe-form-boder: rgba(255, 255, 255, 0.3);

$portfolio-menu-box-shadow-top: rgba(0, 0, 0, 0.1);
$portfolio-menu-box-shadow-leftright: rgba(0, 0, 0, 0.08);
$portfolio-menu-box-shadow-bottom: rgba(0, 0, 0, 0.12);

$portfolio-item-boxshaow-top: rgba(0, 0, 0, 0.12);
$portfolio-item-boxshaow-leftright: rgba(0, 0, 0, 0.06);
$portfolio-item-boxshaow-bottom: rgba(0, 0, 0, 0.16);

$modal-boxshadow-top: rgba(0, 0, 0, 0.12);
$modal-boxshadow-leftright: rgba(0, 0, 0, 0.14);
$modal-boxshadow-bottom: rgba(0, 0, 0, 0.2);
$modal-input-border: rgba(33, 33, 33, 0.2);
$modal-closebtn-border: rgba(0, 0, 0, 0.1);
$modal-btn-submit-boxshadow: rgba(0, 0, 0, 0.15);

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$modal-width-mobile: 450px; //$mobile - (padding-right + padding-left)
